name: ci
on: push
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Cypress tests
        uses: cypress-io/github-action@v4

  test-cypress-v9:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install top dependencies
        uses: cypress-io/github-action@v4
        with:
          runTests: false

      - name: Run Cypress v9 tests
        uses: cypress-io/github-action@v4
        with:
          runTests: false

      - name: Store any v9 screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots-v9
          path: cypress-v9/cypress/screenshots

  release:
    needs: [test, test-cypress-v9]
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install only the semantic release
        run: npm install semantic-release

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GH }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}